/*****************Overall body*****************/
body{
	max-width: 100%;
	clear: both;
	padding: 0;
	margin: 0;
	background-color: #BCBD8B;
}

/*****************navigation bar*****************/
.NavBar{
	display: block;
	float: right;
	margin-top: 50px;
	background-color: #602020;
	overflow: hidden;
	top: 0px; 
	transition: top 0.3s;
	height: auto;
	margin: 0 !important;
	z-index: 100;
	position: fixed;
	width: 100%;
}

.logo {
	width:10%;
	height:10%;
	float:left;
	padding-left:2%;
	padding-top: 1%;
}

/*navigation buttons*/
.NavBar a{
	float:right;
	color: #FFFFFF;
	text-align: center;
	padding: 1% 5%;
	text-decoration: none;
	font-size: 17px;
	position: relative;
	margin-top: 5%;
	font-family:'Raleway', sans-serif; 
}

/* navigation buttons on hover */
.NavBar a:hover {
	cursor: pointer; /* add cursor or all links */
	color: white;
}

/* navigation buttons active/current link */
.NavBar a.active {
  text-decoration:line-through;
  color: white;
}

/*****************big picture on every page*****************/
.ImageDiv {
	margin-top: 0;
	margin-bottom: 0;
}

.homePic{
	display: block;
	list-style-type: none;
	width:100%;
	height: 22%;
	margin: auto;
	overflow:hidden;
}

.Title{
	display: inline-block;
	color:white;
	font-size: 60px;	
	position: absolute;
	margin-top: 1%;
	font-family: 'Roboto Mono', monospace;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/*****************instagram on every page*****************/
.Instagram{
	width: 100%;
	height: 20em;
	position:relative;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	float:left;
}

.image {
	border-width: 1px;
	border-style: solid;
	border-color: #BE8A60;
	border-radius: 10px 10px 10px 10px;
	background-color:white;
	width: 20%;
	height: 80%;
	float:left;
	position: relative;
	margin-top: 2%;
	margin-left:4%;
}

/*****************footer on every page*****************/
.footer{
	background-color: black;
	color:white;
	width:100%;
	bottom:0;
	position:static;
	height:240px;
	float:left;
}

.footerList{
	float:left;
	list-style-type:none;
	padding: 20px 10px;
}

.footerList a{
	text-decoration:none;
	color:white;
	font-family:'Raleway', sans-serif;
	margin-bottom: 10px;
	line-height: 200%;
}